<html>
    <head>
        <title> Blog: 101</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body style="background-color:lightslategray;">
        

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/"><span><svg width="2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-toggle-on" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
              </svg></span> Blogs99 </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <ul class="navbar-nav navbar-left">
                    <li class="nav-item active">
                      <a class="nav-link" href="/blogs/new">New Post <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </ul>
            
            <ul class="navbar-nav navbar-right">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Login</a>
                </li>
               
                <li class="nav-item  active">
                    <a class="nav-link" href="#">Signup</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">Sign Out</a>
                  </li>
              </ul>
            </div>
          </nav>
</html>